[data-rehype-pretty-code-fragment].runnable [data-rehype-pretty-code-title] {
    display: flex;
    align-items: stretch;
    gap: 0.5rem;
    padding-right: 0;
    z-index: 0;
}

[data-rehype-pretty-code-fragment].runnable [data-rehype-pretty-code-title] span {
    padding-right: 2rem;
}

[data-rehype-pretty-code-fragment].runnable [data-rehype-pretty-code-title] button {
    cursor: pointer;
    background: #2d3a49;
    border: none;
    padding: 0 1rem;
    z-index: 4;
    position: relative;
    transition: .15s;
}

[data-rehype-pretty-code-fragment].runnable [data-rehype-pretty-code-title] button:hover {
    background: #3d5065;
}

@media screen and (max-width: 600px) {
    [data-rehype-pretty-code-fragment].runnable [data-rehype-pretty-code-title] button {
        display: none;
    }
}

[data-rehype-pretty-code-fragment].runnable output {
    transition: .15s;
    display: grid;
    gap: .1rem;
    font-family: monospace;

    background: #0f1017;
    border: 1px solid #3d3d3d;
    overflow: hidden;
}

@keyframes console-slide-in {
    from {
        opacity: .2;
        transform: translateX(-2rem) scaleX(1.2);
    }

    to {
        opacity: 1;
        transform: translateX(1) scaleX(1);
    }
}

[data-rehype-pretty-code-fragment].runnable output console-log {
    display: block;
    padding: .1rem 1rem;

    animation: console-slide-in .25s forwards;
    display: block;
    --percentage: min(calc(var(--index) / var(--max-depth, 20)), 1);
    --curve: calc(1 - (1 - var(--percentage)) * (1 - var(--percentage)));
    animation-delay: calc(var(--curve) * var(--max-delay, 400ms));
    opacity: 0;
}

[data-rehype-pretty-code-fragment].runnable output console-log:hover {
    filter: brightness(2);
}

[data-rehype-pretty-code-fragment].runnable console-log[data-type=log] {
    background: #60606022;
}

[data-rehype-pretty-code-fragment].runnable console-log[data-type=info] {
    background: orange;
}

[data-rehype-pretty-code-fragment].runnable console-log[data-type=error] {
    background: #ff38003b;
}

[data-rehype-pretty-code-fragment].runnable output console-log .spacer {
    padding: 0 5px;
}

@media (prefers-color-scheme: light) {
    [data-rehype-pretty-code-fragment].runnable [data-rehype-pretty-code-title] button {
        background: white;
    }
    [data-rehype-pretty-code-fragment].runnable [data-rehype-pretty-code-title] button:hover {
        background: #ccc;
    }

    [data-rehype-pretty-code-fragment].runnable output console-log {
        color: white;
    }
}