div[data-rehype-pretty-code-fragment] {
    margin: 3rem -1rem; 
}

pre {
    overflow-x: auto;
    background: #0f1016;
    margin: 3rem -1rem;
    border: 1px solid #3d3d3d;
    padding: 20px;
    border-radius: 4px;
    color: #4FC1F1;
}

div[data-rehype-pretty-code-fragment] pre {
    margin: 0;
}

code {
    border-radius: 4px;
    padding: 2px 4px;
    color: var(--foreground);
    background: var(--light-bg);
}

pre code {
    background: none;
    padding: 0;
    color: #eee;
    border-radius: 4px;
    padding: 2px 4px;
}


[data-rehype-pretty-code-fragment] {
    position: relative;
}

[data-rehype-pretty-code-title] {
    font-size: .8rem;
    overflow: hidden;

    padding: 0 2rem;
    padding-bottom: 0.1rem;

    position: absolute;
    top: -1.6rem;
    border: 1px solid var(--bg-contrast);
    border-radius: 2px;
    border-bottom: none;
    transform: translate(0, 1px);
}