pre.runnable-code code {
    white-space: pre;
    overflow-x: auto;
    display: block;
}

pre.runnable-code {
    background: #232636;
    padding: 15px;
    border-radius: 4px;
    color: white;
    display: block;
    font-family: monospace;
}

pre.runnable-code {
    position: relative;
}

pre.runnable-code button {
    position: absolute;
    right: 0;
    top: 0;
    background: black;
    color: white;
    border: 1px solid #eee;
    border-width: 0 0 1px 1px;
    padding: 5px 10px;
    cursor: pointer;
}

pre.runnable-code button:active {
    background: #333;
    border-color: #aaa;
}

pre.runnable-code output {
    transition: .15s;
    border-top: 1px solid transparent;
    display: block;
}

pre.runnable-code output.opened {
    border-top: 1px solid #fff3;
    padding-top: 20px;
    margin-top: 20px;
}

@keyframes unsquish {
    from {
        transform: scaleY(0);
        margin-top: -15px;
    }
    to {
        transform: scaleY(1);
        margin-top: 0px;
    }
}

pre.runnable-code output console-log {
    display: block;
    animation: unsquish .25s forwards;
}

pre.runnable-code console-log:before {
    content: attr(data-type) ": ";
}

pre.runnable-code console-log[data-type=log]:before {
    color: orange;
}

pre.runnable-code console-log[data-type=error]:before {
    color: red;
}

pre.runnable-code output console-log .spacer {
    padding: 0 5px;
}
