details,
.admonition {
	background: var(--light-bg);
	border-radius: 4px;
	border: 1px solid #7e5eff;
	overflow: hidden;
}
.admonition {
	padding: 1rem 2rem;
}
details[open] {
	padding-bottom: 1rem;
}
details[open] summary {
	margin-bottom: 1rem;
}
details summary {
	background: var(--bg-light-transparent);
	padding: 1rem;
	font-size: 1rem;
}
details summary::before {
	content: "";
	padding-right: 0.5rem;
}
details > *:not(summary) {
	padding-left: 2rem;
	padding-right: 1rem;
	font-size: 1rem;
}
details > p:nth-child(2) {
	margin-top: 0;
}
details > p:last-child {
	margin-bottom: 0.25rem;
}

details.toc {
	background: var(--background);
	border: 1px solid var(--light-bg);
	margin-bottom: 2rem;
}
details.toc summary {
	background: var(--bg-light-transparent);
	cursor: pointer;
	margin: 0;
}
details.toc ul,
details.toc ol {
	margin: 0;
	margin-left: 0.5rem;
	list-style: circle;
}
details.toc a {
	color: inherit;
	text-decoration: none;
	display: block;

	&:hover {
		text-decoration: underline;
	}
}

.admonition.center {
	text-align: center;
}
