@import url("./headings.css");
@import url("./details.css");
@import url("./code.css");
@import url("./code-runner.css");
@import url("./quote.css");

.title-container {
	margin: 40px 0;
}

.title-container h5 {
	color: var(--muted);
	font-weight: 300;
	margin-bottom: 5px;
}

.title-container p {
	margin: 0;
	padding-top: 10px;
	color: var(--light-foreground);
}

@font-face {
	font-family: "Merriweather";
	src: url(/fonts/Merriweather-Regular.ttf) format("woff2");
}

@font-face {
	font-family: "Merriweather";
	src: url(/fonts/Merriweather-Black.ttf) format("woff2");
	font-weight: bold;
}

@font-face {
	font-family: "Merriweather";
	src: url(/fonts/Merriweather-Italic.ttf) format("woff2");
	font-style: italic;
}

article {
	color: var(--light-foreground);
	line-height: 1.8;
	letter-spacing: 0.5px;
	font-family: "Merriweather", "Times New Roman", Times, serif;
	margin-bottom: 2rem;
}

article a {
	text-decoration: underline;
	word-break: break-word;
}

article p {
	line-height: 2.2;
	margin-bottom: 1.8rem;
	position: relative;
}

article ol,
article ul {
	line-height: 1.75;
	margin-top: 18px;
	margin-bottom: 32px;
	padding-left: 2rem;
}

@media screen and (max-width: 600px) {
	article ol,
	article ul {
		padding-left: 1rem;
	}
}

article img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
	padding: 10px 20px;
	box-sizing: border-box;
}

article.with-audio p:before {
	content: "";
	position: absolute;
	top: -10px;
	left: -10px;
	right: -10px;
	bottom: -10px;
	z-index: -1;
	transition: 0.25s;
}

article.with-audio p.speaking:before {
	background: #ff01;
}

article > ol > li,
article > ul > li {
	margin-bottom: 0.75rem;
}

article strong {
	color: salmon;
}

.expressive-code {
	margin: 2rem 0;
}
