
blockquote {
    position: relative;
    border: 1px solid #41818d;
    background: #193337;
    border-radius: 4px;
    padding: 1rem 2rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: 5rem;
    margin-right: 3.5rem;
    opacity: .9;
}

blockquote:before {
    content: '🗣️';
    position: absolute;
    top: 0;
    left: -4rem;
    font-size: 3rem;
    opacity: .5;
}

blockquote pre {
    font-size: .7em;
}

article blockquote p {
    margin: 0;
    margin-bottom: 1rem;
}

blockquote cite {
    font-size: 1rem;
    display: block;
}

blockquote cite:before {
    content: '— ';
}

@media screen and (max-width: 600px) {
    blockquote {
        margin: 0;
    }
    blockquote:before {
        content: none;
    }
}

@media (prefers-color-scheme: light) {
    blockquote {
        background: #e8f8fa;
    }
}
