<p style="display: flex; justify-content: center;">
<svg
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 642.2298736572266 402.8830161584897"
  width="642.2298736572266"
  height="402.8830161584897"
>
  <!-- svg-source:excalidraw -->

  <defs>
    <style class="style-fonts">
      @font-face {
        font-family: "Virgil";
        src: url("https://excalidraw.com/Virgil.woff2");
      }
      @font-face {
        font-family: "Cascadia";
        src: url("https://excalidraw.com/Cascadia.woff2");
      }
      @font-face {
        font-family: "Assistant";
        src: url("https://excalidraw.com/Assistant-Regular.woff2");
      }
      
    </style>
  </defs>
  <g
    stroke-linecap="round"
    transform="translate(198.059326171875 10) rotate(0 133.58123779296875 43.517181396484375)"
  >
    <path
      d="M21.76 0 C97.24 -2.76, 170.08 -0.51, 245.4 0 M21.76 0 C82.61 1.68, 144.13 0.76, 245.4 0 M245.4 0 C261.09 0.93, 267.49 8.65, 267.16 21.76 M245.4 0 C259.34 -0.68, 266.08 9.24, 267.16 21.76 M267.16 21.76 C266.2 36.99, 269.45 46.67, 267.16 65.28 M267.16 21.76 C267.48 30.4, 266.85 38.34, 267.16 65.28 M267.16 65.28 C268.82 77.85, 260.54 86.47, 245.4 87.03 M267.16 65.28 C266.55 81.25, 262.19 88.63, 245.4 87.03 M245.4 87.03 C190.09 84.93, 135.21 86, 21.76 87.03 M245.4 87.03 C177.19 87.6, 111.15 87.35, 21.76 87.03 M21.76 87.03 C7.13 88.46, 0.53 80.46, 0 65.28 M21.76 87.03 C6.74 88.78, -0.52 79.05, 0 65.28 M0 65.28 C-1.26 53.25, 0.89 38.36, 0 21.76 M0 65.28 C0.7 51.46, 0.27 36.86, 0 21.76 M0 21.76 C-1.34 5.48, 8.82 0.57, 21.76 0 M0 21.76 C1.28 8.01, 5.06 -2.11, 21.76 0"
      stroke="#f08c00"
      stroke-width="2"
      fill="none"
    ></path>
  </g>
  <g
    transform="translate(252.10308837890625 16.821868896484375) rotate(0 67.29592895507812 35.78051273730324)"
  >
    <text
      x="0"
      y="50.14996665260426"
      font-family="Virgil, Segoe UI Emoji"
      font-size="57.248820379685235px"
      fill="#f08c00"
      text-anchor="start"
      direction="ltr"
      dominant-baseline="alphabetic"
    >
      Root
    </text>
  </g>
  <g
    stroke-linecap="round"
    transform="translate(126.9249267578125 184.6781005859375) rotate(0 95.36248779296875 31.066538596822937)"
  >
    <path
      d="M15.53 0 C69.1 -1.74, 121.14 -1.86, 175.19 0 M15.53 0 C72.11 0.17, 127.33 -0.42, 175.19 0 M175.19 0 C185.89 -0.99, 191.88 4.43, 190.72 15.53 M175.19 0 C187.23 0.98, 192.08 7.29, 190.72 15.53 M190.72 15.53 C191 22.22, 189.98 30.66, 190.72 46.6 M190.72 15.53 C190.25 27.04, 190.69 38.29, 190.72 46.6 M190.72 46.6 C189.61 57.92, 185.62 61.84, 175.19 62.13 M190.72 46.6 C190.82 57.77, 187.65 61.64, 175.19 62.13 M175.19 62.13 C136.52 63.71, 102.61 63.67, 15.53 62.13 M175.19 62.13 C121.2 61.82, 64.85 62.31, 15.53 62.13 M15.53 62.13 C3.81 61.09, 1.33 55.53, 0 46.6 M15.53 62.13 C5.55 61.44, 0.19 59.18, 0 46.6 M0 46.6 C2.08 39.73, -0.92 27.25, 0 15.53 M0 46.6 C0.61 35.62, 0.53 21.95, 0 15.53 M0 15.53 C0.21 4.34, 6.91 1.88, 15.53 0 M0 15.53 C0.1 5.03, 5.26 2.27, 15.53 0"
      stroke="currentColor"
      stroke-width="2"
      fill="none"
    ></path>
  </g>
  <g
    transform="translate(153.0333323207915 198.3273503643352) rotate(0 69.55633355433162 17.66020166428339)"
  >
    <text
      x="0"
      y="24.752538652659617"
      font-family="Virgil, Segoe UI Emoji"
      font-size="28.256322662853442px"
      fill="currentColor"
      text-anchor="start"
      direction="ltr"
      dominant-baseline="alphabetic"
    >
      Component
    </text>
  </g>
  <g
    stroke-linecap="round"
    transform="translate(10 301.33746337890625) rotate(0 95.36248779296875 31.066538596822966)"
  >
    <path
      d="M15.53 0 C65.49 -1.46, 113.34 -0.1, 175.19 0 M15.53 0 C65.86 -1.41, 116.05 0.37, 175.19 0 M175.19 0 C184.92 -1, 192.03 5.25, 190.72 15.53 M175.19 0 C184.35 1.49, 189.95 6.04, 190.72 15.53 M190.72 15.53 C192.22 27, 190.79 37.95, 190.72 46.6 M190.72 15.53 C191.23 23.22, 191.6 30.15, 190.72 46.6 M190.72 46.6 C189.09 58.79, 183.77 61.85, 175.19 62.13 M190.72 46.6 C189.22 55.77, 186.24 62.46, 175.19 62.13 M175.19 62.13 C138.6 62.79, 98.63 63.27, 15.53 62.13 M175.19 62.13 C124.01 62.81, 71.16 63.9, 15.53 62.13 M15.53 62.13 C5.05 62.68, 1.69 57.45, 0 46.6 M15.53 62.13 C7.25 63.34, -2.07 57.16, 0 46.6 M0 46.6 C-0.88 33.7, -0.82 23.45, 0 15.53 M0 46.6 C0.17 34.31, 0.45 22.88, 0 15.53 M0 15.53 C-0.4 3.46, 6.69 0.37, 15.53 0 M0 15.53 C1.49 6.61, 6.9 -1.46, 15.53 0"
      stroke="currentColor"
      stroke-width="2"
      fill="none"
    ></path>
  </g>
  <g
    transform="translate(36.10840556297899 314.98671315730394) rotate(0 69.55633355433162 17.660201664283363)"
  >
    <text
      x="0"
      y="24.752538652659617"
      font-family="Virgil, Segoe UI Emoji"
      font-size="28.256322662853442px"
      fill="currentColor"
      text-anchor="start"
      direction="ltr"
      dominant-baseline="alphabetic"
    >
      Component
    </text>
  </g>
  <g
    stroke-linecap="round"
    transform="translate(252.54058837890625 330.74993896484375) rotate(0 95.36248779296875 31.066538596822966)"
  >
    <path
      d="M15.53 0 C67.9 -1, 118.04 1.16, 175.19 0 M15.53 0 C77.17 -0.05, 139.24 -0.61, 175.19 0 M175.19 0 C186.65 1.85, 191.26 6.57, 190.72 15.53 M175.19 0 C183.88 0.79, 191.49 5.74, 190.72 15.53 M190.72 15.53 C189.34 23.73, 190.9 33.87, 190.72 46.6 M190.72 15.53 C191.39 26.1, 189.81 38.39, 190.72 46.6 M190.72 46.6 C190.68 55.06, 185.83 61.35, 175.19 62.13 M190.72 46.6 C191.74 57.02, 183.72 63.06, 175.19 62.13 M175.19 62.13 C124.83 60.62, 73.37 62, 15.53 62.13 M175.19 62.13 C139.58 61.46, 103.3 60.35, 15.53 62.13 M15.53 62.13 C5.87 60.33, -0.01 57.05, 0 46.6 M15.53 62.13 C6.08 62.56, 1.72 59.23, 0 46.6 M0 46.6 C0.59 39.08, -1.55 30.62, 0 15.53 M0 46.6 C-0.02 38.35, 0.88 28.01, 0 15.53 M0 15.53 C-1.93 5.22, 6.92 0.7, 15.53 0 M0 15.53 C0.66 3.02, 6.72 1.67, 15.53 0"
      stroke="currentColor"
      stroke-width="2"
      fill="none"
    ></path>
  </g>
  <g
    transform="translate(278.64899394188524 344.39918874324144) rotate(0 69.55633355433162 17.660201664283363)"
  >
    <text
      x="0"
      y="24.752538652659617"
      font-family="Virgil, Segoe UI Emoji"
      font-size="28.256322662853442px"
      fill="currentColor"
      text-anchor="start"
      direction="ltr"
      dominant-baseline="alphabetic"
    >
      Component
    </text>
  </g>
  <g
    stroke-linecap="round"
    transform="translate(412.7689208984375 203.29684448242188) rotate(0 95.36248779296875 31.066538596822937)"
  >
    <path
      d="M15.53 0 C63.11 0.3, 108.44 -1.04, 175.19 0 M15.53 0 C57.28 1.89, 100.19 1, 175.19 0 M175.19 0 C185.88 -1.75, 189.72 5.83, 190.72 15.53 M175.19 0 C186.81 2.2, 188.54 2.9, 190.72 15.53 M190.72 15.53 C189.93 23.92, 190 29.64, 190.72 46.6 M190.72 15.53 C190.11 24.09, 190.39 32.73, 190.72 46.6 M190.72 46.6 C191.25 56.76, 187.18 61.94, 175.19 62.13 M190.72 46.6 C191.76 57.16, 187.1 64.19, 175.19 62.13 M175.19 62.13 C116.62 62.69, 58.93 63.83, 15.53 62.13 M175.19 62.13 C140.24 61.12, 103.42 61.27, 15.53 62.13 M15.53 62.13 C7.01 64.04, 1.7 56.81, 0 46.6 M15.53 62.13 C3.42 60.38, -2.18 54.83, 0 46.6 M0 46.6 C1.31 38.77, -0.66 28.33, 0 15.53 M0 46.6 C0.35 39.72, -0.81 30.46, 0 15.53 M0 15.53 C1.72 4.24, 3.69 -1.61, 15.53 0 M0 15.53 C0.1 3.31, 3.71 1.73, 15.53 0"
      stroke="#f08c00"
      stroke-width="2"
      fill="none"
    ></path>
  </g>
  <g
    transform="translate(438.8773264614165 216.94609426081956) rotate(0 69.55148315429688 17.66020166428339)"
  >
    <text
      x="0"
      y="24.752538652659617"
      font-family="Virgil, Segoe UI Emoji"
      font-size="28.256322662853442px"
      fill="#f08c00"
      text-anchor="start"
      direction="ltr"
      dominant-baseline="alphabetic"
    >
      Component
    </text>
  </g>
  <g stroke-linecap="round">
    <g
      transform="translate(270.02426393121596 100.96563720703125) rotate(0 -15.237357611803077 34.32655334472656)"
    >
      <path
        d="M-0.35 0.12 C-5.43 11.66, -24.42 56.81, -29.28 68.42 M1.66 -0.87 C-3.57 10.93, -24.36 58.35, -29.6 69.83"
        stroke="currentColor"
        stroke-width="2"
        fill="none"
      ></path>
    </g>
    <g
      transform="translate(270.02426393121596 100.96563720703125) rotate(0 -15.237357611803077 34.32655334472656)"
    >
      <path
        d="M-27.84 44.89 C-28.53 56.85, -29.82 66.42, -29.6 69.83 M-27.84 44.89 C-28.8 53.98, -28.47 63.46, -29.6 69.83"
        stroke="currentColor"
        stroke-width="2"
        fill="none"
      ></path>
    </g>
    <g
      transform="translate(270.02426393121596 100.96563720703125) rotate(0 -15.237357611803077 34.32655334472656)"
    >
      <path
        d="M-12.22 51.86 C-19.11 60.98, -26.64 67.77, -29.6 69.83 M-12.22 51.86 C-19.24 58.27, -25.03 65.02, -29.6 69.83"
        stroke="currentColor"
        stroke-width="2"
        fill="none"
      ></path>
    </g>
  </g>
  <mask></mask>
  <g stroke-linecap="round">
    <g
      transform="translate(250.04156365396727 252.60311889648438) rotate(0 21.875885925712794 39.97187805175781)"
    >
      <path
        d="M0.68 -0.59 C7.75 12.48, 36.14 65.96, 43.13 79.52 M-0.43 1.71 C6.98 15.47, 37.95 67.97, 45.52 80.84"
        stroke="currentColor"
        stroke-width="2"
        fill="none"
      ></path>
    </g>
    <g
      transform="translate(250.04156365396727 252.60311889648438) rotate(0 21.875885925712794 39.97187805175781)"
    >
      <path
        d="M26.24 64.92 C32.31 69.49, 39.5 74.4, 45.52 80.84 M26.24 64.92 C33.21 70.86, 41.2 77.84, 45.52 80.84"
        stroke="currentColor"
        stroke-width="2"
        fill="none"
      ></path>
    </g>
    <g
      transform="translate(250.04156365396727 252.60311889648438) rotate(0 21.875885925712794 39.97187805175781)"
    >
      <path
        d="M40.98 56.25 C41.85 64, 43.75 72.02, 45.52 80.84 M40.98 56.25 C42.42 65.34, 44.93 75.54, 45.52 80.84"
        stroke="currentColor"
        stroke-width="2"
        fill="none"
      ></path>
    </g>
  </g>
  <mask></mask>
  <g stroke-linecap="round">
    <g
      transform="translate(182.55319370049062 253.6843872070313) rotate(0 -11.931804509614722 20.173431396484347)"
    >
      <path
        d="M0.05 0.56 C-4.02 7.31, -20.41 33.39, -24.47 39.99 M-1.38 -0.2 C-5.05 6.77, -18.08 34.41, -22.07 41.34"
        stroke="currentColor"
        stroke-width="2"
        fill="none"
      ></path>
    </g>
    <g
      transform="translate(182.55319370049062 253.6843872070313) rotate(0 -11.931804509614722 20.173431396484347)"
    >
      <path
        d="M-19.08 18.09 C-19.14 23.95, -21.54 31.08, -22.07 41.34 M-19.08 18.09 C-19.32 24.57, -21.65 30.45, -22.07 41.34"
        stroke="currentColor"
        stroke-width="2"
        fill="none"
      ></path>
    </g>
    <g
      transform="translate(182.55319370049062 253.6843872070313) rotate(0 -11.931804509614722 20.173431396484347)"
    >
      <path
        d="M-4.84 25.45 C-9.06 29.14, -15.67 34.1, -22.07 41.34 M-4.84 25.45 C-9.11 29.74, -15.51 33.52, -22.07 41.34"
        stroke="currentColor"
        stroke-width="2"
        fill="none"
      ></path>
    </g>
  </g>
  <mask></mask>
  <g stroke-linecap="round">
    <g
      transform="translate(357.65655459231857 95.90625000000006) rotate(0 41.49286852292374 46.84689331054685)"
    >
      <path
        d="M-0.3 -0.04 C13.37 15.41, 68.89 77.93, 82.58 93.75 M1.75 -1.1 C15.17 15.07, 67.69 79.61, 81.41 95.31"
        stroke="#f08c00"
        stroke-width="2"
        fill="none"
      ></path>
    </g>
    <g
      transform="translate(357.65655459231857 95.90625000000006) rotate(0 41.49286852292374 46.84689331054685)"
    >
      <path
        d="M59.76 82.81 C67.36 86.54, 75.05 89.64, 81.41 95.31 M59.76 82.81 C68.25 88.56, 77.84 93.34, 81.41 95.31"
        stroke="#f08c00"
        stroke-width="2"
        fill="none"
      ></path>
    </g>
    <g
      transform="translate(357.65655459231857 95.90625000000006) rotate(0 41.49286852292374 46.84689331054685)"
    >
      <path
        d="M72.86 71.82 C75.99 79.35, 79.12 86.28, 81.41 95.31 M72.86 71.82 C76.16 81.81, 80.55 90.94, 81.41 95.31"
        stroke="#f08c00"
        stroke-width="2"
        fill="none"
      ></path>
    </g>
  </g>
  <mask></mask>
  <g
    transform="translate(485.54998779296875 130.91879272460938) rotate(0 73.3399429321289 25)"
  >
    <text
      x="73.3399429321289"
      y="17.52"
      font-family="Virgil, Segoe UI Emoji"
      font-size="20px"
      fill="#2f9e44"
      text-anchor="middle"
      direction="ltr"
      dominant-baseline="alphabetic"
    >
    &lbrace; Color: 'red' &rbrace;
    </text>
    <text
      x="73.3399429321289"
      y="42.519999999999996"
      font-family="Virgil, Segoe UI Emoji"
      font-size="20px"
      fill="#2f9e44"
      text-anchor="middle"
      direction="ltr"
      dominant-baseline="alphabetic"
    >
      [1, 2, 3]
    </text>
  </g>
</svg>
</p>