---
import MainLayout from '../../layouts/Main.astro';

import { getSlugs } from '../../data/blogs';
import type { MdOrMdxFile } from '../../data/blogs'
import Tags from '../../components/Tags.astro';
import BlogStub from '../../components/article/BlogStub.astro';

const posts = await Astro.glob('./*.md*') as MdOrMdxFile[];
const postSlugs = await getSlugs(posts);
const tags = [...new Set(posts.flatMap(post => post.frontmatter.tags.trim().split(/\s*,\s*/)))];

export async function getStaticPaths({ paginate }) {
  const allPosts = await Astro.glob('./*.md*') as MdOrMdxFile[];
  
  const sortedPosts = allPosts.sort((a, b) => +new Date(b.frontmatter.pubDate) - +new Date(a.frontmatter.pubDate));
  return paginate(sortedPosts, { pageSize: 25 })
}

---
<MainLayout title="Blog">
    <h1>Blog</h1>

    <Tags tags={tags} itemSelector='post-container' />

    <div class="staggered">
        {postSlugs.map((post, i) => 
            <post-container style={`--index: ${i}`} data-tags={post.tags}>
                <BlogStub {...post} />
            </post-container>  
        )}
    </div>

    <p class="feed">Subscribe to <a href="/blog.xml" rel="external">my rss feed <img src="/icons/rss-feed-icon.png" alt="rss icon" /></a></p>
</MainLayout>
<style>
  h1 {
    margin: 80px 0;
    text-align: center;
  }
  .feed {
    margin-top: 50px;
    text-align: center;
  }
  .feed img {
    height: 15px;
  }
</style>
