---
const { title, open, isToc, isStatic } = Astro.props;
---

{
    isStatic ? (
        <div class="admonition">
            <slot />
        </div>
    ) : (
        <details {open} class:list={[{ toc: isToc }]}>
            <summary>{title}</summary>
            <slot />
        </details>
    )
}
