
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- code that does redirecting -->
    <meta http-equiv="refresh" content="0;URL='https://abs-eq.emnudge.dev'" />    

		<link rel="icon" href="/icons/logo_color.png" />

		<title>Abstract Equality Steper</title>

    <style>
      * {
        font-family: 'Courier New', Courier, monospace;
      }
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
    </style>
	</head>
	<body>
     <h1>Redirecting...</h1>
     <p>If not redirected, click here:</p>
     <a href="https://abs-eq.emnudge.dev">Abstract Equality Stepper</a>
	</body>
</html>
