---
const currentPath = new URL(Astro.request.url).pathname.match(
	/^(.+?)(?:\/|$)/,
)[1];

const routes = [
	["/articles", "Articles"],
	["/books", "Books"],
	["/videos", "Videos"],
];
---

<nav>
    <ul>
        {routes.map(([path, title]) => (
            <li>
                <a
                    href={path}
                    aria-current={path == currentPath ? "page" : undefined}
                >{title}</a>
            </li>
        ))}
    </ul>
</nav>

<style>
    nav {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 40px;
    }
    li {
        font-size: var(--font-large);
        border: 1px solid transparent;
        padding: 0.5rem 1rem;
    }
    li:hover {
        background: var(--light-bg);
        border-radius: 9px;
        border: 1px solid #ffffff29;
    }
    a {
        color: var(--foreground);
    }
    a[aria-current] {
        color: var(--active);
    }
</style>