---
import IconHolder from "./IconHolder.astro";

const icons = [
	["/icons/email.svg", "email", "mailto:contact@emnudge.dev"],
	["/icons/github.svg", "GitHub", "https://github.com/EmNudge"],
	["/icons/youtube.svg", "YouTube", "http://youtube.com/EmNudge"],
	["/icons/bsky.svg", "Bluesky", "https://bsky.app/profile/emnudge.dev"],
	["/icons/devto.svg", "Dev.to", "https://dev.to/emnudge"],
];
---

<footer>
    <IconHolder icons={icons} />
    <p>© Copyright 2019 - <span class="year">{new Date().getFullYear()}</span> EmNudge</p>
</footer>

<script type="text/javascript">
    document.querySelector('.year').textContent = new Date().getFullYear();
</script>


<style>
    footer {
        border-top: 1px solid var(--light-bg);
        padding: 20px;
        margin: 40px auto;
        margin-top: 80px;
        max-width: 1000px;
        display: grid;
        grid-template-columns: 1fr auto;
    }

    @media screen and (max-width: 650px) {
        footer {
            grid-template-columns: 1fr;
            justify-items: center;
        }
    }
</style>
