---
import Nav from './Nav.svelte';

const path = new URL(Astro.request.url).pathname.match(/^(.+?)(?:\/|$)/)[1];

const routes: [string, string][] = [
    ["/", "Home"],
    ["/blog", "Blog"],
    ["/notes", "Notes"],
    ["/articles", "Bookmarks"],
];
---

<header>
    <div>
        <a href="/" class="logo">
            <img src="/icons/logo_neon.png" alt="logo" />
            <div 
                class="bg-shape" 
                aria-hidden="true" 
                style="--color: rgb(175, 42, 233); --offset: -6;"
            ></div>
            <div 
                class="bg-shape" 
                aria-hidden="true"
                style="--color: rgb(15, 153, 72); --offset: 6;"
            ></div>
        </a>
    </div>
    <Nav {routes} {path} />
</header>

<style>
    header {
        padding: 20px;
        max-width: 800px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
    }
    .logo {
        display: flex;
        align-items: center;
        position: relative;
    }
    img {
        height: 40px;
        filter: grayscale(.6);
        transition: 0.25s;
    }
    .logo:hover img {
        filter: grayscale(0);
    }
    .bg-shape {
        position: absolute;
        top: 0;
        left: 0;
        width: 45px;
        height: 100%;
        background-color: var(--color, red);
        transform: translate(calc(var(--offset, 0) * 1px));
        z-index: -1;
        filter: blur(10px);

        opacity: 0;
        transition: 0.4s;
    }
    .logo:hover .bg-shape {
        opacity: 0.5;
    }
</style>
