---
import IconHolder from "./IconHolder.astro";
import NameTitle from "./NameTitle.svelte";

const icons = [
    ["/icons/github.svg", "GitHub", "https://github.com/EmNudge"],
    ["/icons/youtube.svg", "YouTube", "http://youtube.com/EmNudge"],
    ["/icons/twitter.svg", "Twitter", "http://twitter.com/emnudge"],
];

const titles = [
    "A blog for ants",
    "I'm a <b>Perfectonist< /b>",
    "Welcome to my backyard",
    "Huh? Voice Acting?",
    "A walking xkcd reference",
];
---

<section>
    <div class="name">
        <IconHolder {icons} small translucent staggered />
        <h1><button class="hand-wave">👋</button> Hey there!</h1>
        <NameTitle titles={titles} client:idle />
    </div>
</section>

<script type="module">
    const hand = document.querySelector('.hand-wave');
    hand.addEventListener('click', () => {
        hand.animate([
            { transform: 'rotate(0deg)' },
            { transform: 'rotate(15deg)' },
            { transform: 'rotate(-15deg)' },
            { transform: 'rotate(15deg)' },
            { transform: 'rotate(-15deg)' },
            { transform: 'rotate(15deg)' },
            { transform: 'rotate(0deg)' },
        ], { duration: 1000, easing: 'ease-in-out' });
    });
</script>

<style>
    .hand-wave {
        font-size: inherit;
        border: none;
        background-color: transparent;
        transform-origin: bottom right;
    }
    section {
        display: flex;
        justify-content: center;
        padding: 20px;
        margin: 40px auto;
    }
    .name {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    h1 {
        font-size: clamp(3em, 8vw, 6em);
        font-weight: 200;
    }
</style>
