---
interface Props {
  url: string;
  icon?: string;
  name: string;
  description: string;
}

const { url, icon, name, description } = Astro.props;
---

<div class="project">
  <a href={url}>
    <h2>
      {icon && <span>{icon}</span>}
      <span>{name}</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 24 24"
      >
        <g
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M11 7H6a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2-2v-5">
          </path>
          <path d="M10 14L20 4"></path>
          <path d="M15 4h5v5"></path>
        </g>
      </svg>
    </h2>
  </a>
  <p>{description}</p>
</div>

<style>
  .project {
    border: 1px solid var(--light-bg);
    background: var(--bg-light-transparent);
    border-radius: 20px;
    padding: 1.5rem 2rem;
    transition: 0.15s;
  }
  .project:hover {
    border-color: #fff4;
    transition: 0.25s;
    box-shadow: 0 0 10px 0 #fff1;
  }
  html.light .project:hover {
    border-color: #0004;
    box-shadow: 0 0 10px 0 #0001;
  }
  @media (prefers-color-scheme: light) {
    .project:hover {
      border-color: #0004;
      box-shadow: 0 0 10px 0 #0001;
    }
  }
  h2 {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  .project a svg {
    height: 1.5rem;
  }
  a.github {
    color: inherit;
  }
</style>
