---
import PaperFigure from "./PaperFigure.astro";
---

<style>
  .paper {
    color: #000a;
    padding: 1rem;
  }
</style>

<PaperFigure>
  <div class="paper">
    <span style="display: block; font-weight: bold">Increase User Engagement</span
    >
    <ul>
      <li>Ideas here</li>
      <li></li>
      <li></li>
    </ul>
  </div>
</PaperFigure>