:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --active: #61FFFF;
  --foreground: white;
  --background: #1F2632;
  --light-bg: #fff1;
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1, h2, h3, h4, h5 {
  margin: 0;
}
h2 {
  font-weight: 100;
}

a {
  text-decoration: none;
  color: var(--active);
}

@media (prefers-color-scheme: light) {
  :root {
    --active: #ff7b3a;
    --foreground: #222;
    --background: #eee;
    --light-bg: #0001;
  }
  img.dark-mode {
    filter: invert(1);
  }
}

/* css for staggered class. Easier than a svelte component */
@keyframes slide-in {
  from { 
    transform: translate(20px);
    opacity: 0;
  }
  to { 
    transform: translate(0px); 
    opacity: 1;
  }
}
.staggered > * {
  animation: slide-in .5s forwards;
  display: block;
  animation-delay: calc(var(--index) * 100ms);
  opacity: 0;
}

