---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import CommandPalette from "../components/CommandPalette/index.svelte";
import { getSlugs } from "../data/blogs";

const { title } = Astro.props;

const slugs = await Astro.glob("../pages/blog/*.md*").then(getSlugs);
const postItems = slugs.map(({ title, url }) => [title, url] as const);

const noteSlugs = await Astro.glob("../pages/notes/*.md*").then(getSlugs);
const noteItems = noteSlugs.map(({ title, url }) => [title, url] as const);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="Personal website for EmNudge" />
    <meta name="author" content="EmNudge" />
    <meta name="keywords" content="EmNudge" />
    <meta name="color-scheme" content="dark light" />

    <link
      rel="alternate"
      type="application/rss+xml"
      href="/blog.xml"
      title="RSS feed for emnudge.dev"
    />
    <link rel="icon" href="/icons/icon_neon.webp" />
    <link rel="stylesheet" href="/app.css" />

    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />

    <CommandPalette postItems={postItems} noteItems={noteItems} client:only="svelte" />

    <script type="module">
			import '/libraries/new-tag.js';
    </script>
  </body>
</html>
